# Lab | Customer Analysis Round 2

##### Dealing with the data
##### Show the dataframe shape.
##### Standardize header names.
##### Which columns are numerical?
##### Which columns are categorical?
##### Check and deal with NaN values.
##### Datetime format - Extract the months from the dataset and store in a separate column. Then filter the data to show only the information for the first quarter , ie. January, February and March. Hint: If data from March does not exist, consider only January and February.
##### BONUS: Put all the previously mentioned data transformations into a function.

In [325]:
import pandas as pd
import numpy as np

In [326]:
data = pd.read_excel('marketing_customer_analysis.xlsx')

In [327]:
data

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,2011-01-19,Unemployed,F,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,10908,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,2011-01-08,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [328]:
# Show the dataframe shape.
data.shape

(10910, 26)

In [329]:
# Standardize header names.
data.columns

Index(['Unnamed: 0', 'Customer', 'State', 'Customer Lifetime Value',
       'Response', 'Coverage', 'Education', 'Effective To Date',
       'EmploymentStatus', 'Gender', 'Income', 'Location Code',
       'Marital Status', 'Monthly Premium Auto', 'Months Since Last Claim',
       'Months Since Policy Inception', 'Number of Open Complaints',
       'Number of Policies', 'Policy Type', 'Policy', 'Renew Offer Type',
       'Sales Channel', 'Total Claim Amount', 'Vehicle Class', 'Vehicle Size',
       'Vehicle Type'],
      dtype='object')

In [330]:
#los pasare todos a minusculas 
cols=[]
for i in range (len(data.columns)):
  cols.append(data.columns[i].lower())
cols

['unnamed: 0',
 'customer',
 'state',
 'customer lifetime value',
 'response',
 'coverage',
 'education',
 'effective to date',
 'employmentstatus',
 'gender',
 'income',
 'location code',
 'marital status',
 'monthly premium auto',
 'months since last claim',
 'months since policy inception',
 'number of open complaints',
 'number of policies',
 'policy type',
 'policy',
 'renew offer type',
 'sales channel',
 'total claim amount',
 'vehicle class',
 'vehicle size',
 'vehicle type']

In [331]:
#asu=igno los valores y copruebo
data.columns=cols
data.columns

Index(['unnamed: 0', 'customer', 'state', 'customer lifetime value',
       'response', 'coverage', 'education', 'effective to date',
       'employmentstatus', 'gender', 'income', 'location code',
       'marital status', 'monthly premium auto', 'months since last claim',
       'months since policy inception', 'number of open complaints',
       'number of policies', 'policy type', 'policy', 'renew offer type',
       'sales channel', 'total claim amount', 'vehicle class', 'vehicle size',
       'vehicle type'],
      dtype='object')

# Which columns are numerical?
customer lifetime value 
income
monthly premium
months since las claim
months since policy inception
number of open complains 
number of policies
total claim amount

Which columns are categorical?
state
response
coverage
employmentsstatus
gender
location code
marital status
policy tipe
policyrenew offer type
sales channel
vehicle class
vehicle size
vehicle type

In [366]:
# Check and deal with NaN values.
print("Nulos")
for i in data.columns: 
  print( i, 100*sum(data[i].isnull()) / len(data[i]) ,"%")

Nulos
unnamed: 0 0.0 %
customer 0.0 %
state 0.0 %
customer lifetime value 0.0 %
response 0.0 %
coverage 0.0 %
education 0.0 %
effective to date 0.0 %
employmentstatus 0.0 %
gender 0.0 %
income 0.0 %
location code 0.0 %
marital status 0.0 %
monthly premium auto 0.0 %
months since last claim 0.0 %
months since policy inception 0.0 %
number of open complaints 0.0 %
number of policies 0.0 %
policy type 0.0 %
policy 0.0 %
renew offer type 0.0 %
sales channel 0.0 %
total claim amount 0.0 %
vehicle class 0.0 %
vehicle size 0.0 %

In [333]:
#Vamos a suponer que muchos nulos es maypor al 6%
#voy a elimiar la columna vehicle type ya que le faltan mas del 50% de los datos, y a las columnas que tngan menos del 6% de los datos faltantes, los reemplazare con media, moda o mediana
columnas_drop=[]
for i in data.columns:
  if(100*sum(data[i].isnull()) / len(data[i]) >=6):
    columnas_drop.append(i)
data=data.drop(columnas_drop,axis=1)

In [334]:
#Corroboramos que se eliminaron las columnas con mas del 6% faltante
#que en este caso solo era vehicle type
data

,unnamed: 0,customer,state,customer lifetime value,response,coverage,education,effective to date,employmentstatus,gender,...,months since policy inception,number of open complaints,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,52,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,26,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,31,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,3,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,31,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,2011-01-19,Unemployed,F,...,40,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,...,68,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Employed,F,...,63,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize
10908,10908,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,...,27,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,2011-01-08,Unemployed,M,...,1,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize

In [335]:
#Buscamos las otras columnas en que tenemos que limpiar los valores nulos
for i in data.columns:
    if 100*sum(data[i].isnull()) / len(data[i]) >0:
        print(i)

state
response
months since last claim
number of open complaints
vehicle class
vehicle size

In [336]:
#en este caso eliminaremos los registros, ya que no tendria sentido poner la moda, media o mediana a este tipo de registros
data['state'].unique

<bound method Series.unique of 0           Arizona
1        California
2        Washington
3            Oregon
4            Oregon
            ...
10905        Nevada
10906        Oregon
10907       Arizona
10908    California
10909           NaN
Name: state, Length: 10910, dtype: object>

In [351]:
#Columna state
sum(data['state'].isnull())

0

In [338]:
#revisar si todas las columnas son nulas, 
#al ver que no, pues eliminar las 631 entradas, no resolveria los problemas con los valores nulos de las diferentes columnas
data.iloc[10909]

unnamed: 0                                     10909
customer                                     IV32877
state                                            NaN
customer lifetime value                  6857.519928
response                                         NaN
coverage                                       Basic
education                                   Bachelor
effective to date                2011-01-08 00:00:00
employmentstatus                          Unemployed
gender                                             M
income                                             0
location code                               Suburban
marital status                                Single
monthly premium auto                             101
months since last claim                         31.0
months since policy inception                      1
number of open complaints                        0.0
number of policies                                 3
policy type                            Personal Auto
policy                                   Personal L1
renew offer type                              Offer4
sales channel                                    Web
total claim amount                       1021.719397
vehicle class                                    SUV
vehicle size                                 Medsize
Name: 10909, dtype: object

In [339]:
#Para eliminar  las filas con valores nulos en una columna especificada
data=data.dropna(subset='state')
data

,unnamed: 0,customer,state,customer lifetime value,response,coverage,education,effective to date,employmentstatus,gender,...,months since policy inception,number of open complaints,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,52,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,26,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,31,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,3,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,31,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10904,10904,QI63521,Nevada,19228.463620,No,Basic,High School or Below,2011-02-24,Unemployed,M,...,32,0.0,2,Personal Auto,Personal L2,Offer1,Branch,897.600000,Luxury SUV,Medsize
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,2011-01-19,Unemployed,F,...,40,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,...,68,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Employed,F,...,63,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize
10908,10908,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,...,27,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize

In [340]:
#Para este caso, dado que no tienen ningun sentido asignarle media, moda o mediana, se eliminaran todas las columnas con nulo
#esto si quisiera eliminar todas las filas que tengan un nulo
#que no es el caso
#data=data.dropna()
#data

In [341]:
#Columna response
sum(data['response'].isnull())

0

In [342]:
#Obtenemos la moda de la columna response y sustituiremos los valores nulos por la moda
response_mode=data['response'].mode()
data['response']=data['response'].fillna(response_mode)

C:\Users\monik\AppData\Local\Temp\ipykernel_2168\3554083520.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['response']=data['response'].fillna(response_mode)

In [343]:
data['response'].unique

<bound method Series.unique of 0         No
1         No
2         No
3        Yes
4         No
        ...
10904     No
10905     No
10906     No
10907     No
10908     No
Name: response, Length: 10279, dtype: object>

In [345]:
#Columna months since last claim
sum(data['months since last claim'].isnull())

591

In [347]:
#remplazaremos los valores nulos por la media
mslc_mean=data['months since last claim'].mean()
data['months since last claim']=data['months since last claim'].fillna(mslc_mean)

C:\Users\monik\AppData\Local\Temp\ipykernel_2168\96366675.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['months since last claim']=data['months since last claim'].fillna(mslc_mean)

In [348]:
data['months since last claim'].unique

<bound method Series.unique of 0         7.000000
1         3.000000
2        34.000000
3        10.000000
4        15.129851
           ...
10904    14.000000
10905    15.129851
10906     7.000000
10907    11.000000
10908     0.000000
Name: months since last claim, Length: 10279, dtype: float64>

In [350]:
#Columna number of open complaints
sum(data['number of open complaints'].isnull())

591

In [355]:
#remplazaremos los valores nulos por la media
nooc_mean=data['number of open complaints'].mean()
data['number of open complaints']=data['number of open complaints'].fillna(nooc_mean)

C:\Users\monik\AppData\Local\Temp\ipykernel_2168\2831192406.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['number of open complaints']=data['number of open complaints'].fillna(nooc_mean)

In [356]:
data['number of open complaints'].unique

<bound method Series.unique of 0        0.000000
1        0.000000
2        0.000000
3        0.000000
4        0.383567
           ...
10904    0.000000
10905    0.383567
10906    0.000000
10907    0.000000
10908    4.000000
Name: number of open complaints, Length: 10279, dtype: float64>

In [359]:
#Columna vehicle class
sum(data['vehicle class'].isnull())

591

In [360]:
#eliminare los registros ya que no habria una manera correcta de rellenar los nulos aportando algo a la bd
data['vehicle class'].unique()

array(['Four-Door Car', 'SUV', 'Two-Door Car', 'Sports Car', 'Luxury Car',
       'Luxury SUV', nan], dtype=object)

In [364]:
data=data.dropna(subset='vehicle class')
data

,unnamed: 0,customer,state,customer lifetime value,response,coverage,education,effective to date,employmentstatus,gender,...,months since policy inception,number of open complaints,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,52,0.000000,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,26,0.000000,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,31,0.000000,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,3,0.000000,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,31,0.383567,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10904,10904,QI63521,Nevada,19228.463620,No,Basic,High School or Below,2011-02-24,Unemployed,M,...,32,0.000000,2,Personal Auto,Personal L2,Offer1,Branch,897.600000,Luxury SUV,Medsize
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,2011-01-19,Unemployed,F,...,40,0.383567,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,...,68,0.000000,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Employed,F,...,63,0.000000,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize
10908,10908,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,...,27,4.000000,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize

In [365]:
#Columna vehicle size ya no tiene nulos, ta que compartia los mismos nulos que vehicle type
sum(data['vehicle size'].isnull())

0

In [367]:
#comprobamos que no haya mas nulos en nuestra base de datos
sum(data[i].isnull())

0

In [ ]:
# Datetime format - Extract the months from the dataset and store in a separate column.
#  Then filter the data to show only the information for the first quarter 
#  ie. January, February and March. Hint: If data from March does not exist, consider only January and February.

In [368]:
data['effective to date']

0       2011-02-18
1       2011-01-18
2       2011-02-10
3       2011-01-11
4       2011-01-17
           ...
10904   2011-02-24
10905   2011-01-19
10906   2011-01-06
10907   2011-02-06
10908   2011-02-13
Name: effective to date, Length: 9688, dtype: datetime64[ns]

In [369]:
type(data['effective to date'])

pandas.core.series.Series

In [391]:
#Crear mi columa mes con la informacion de los meses obtenidos de effective to date, convirtiendolo a datetime, dandole formato de nombre de mex y acortandolo a 3 letras
data['month'] = pd.to_datetime(data['effective to date'], format='%m').dt.month_name().str.slice(stop=3)

C:\Users\monik\AppData\Local\Temp\ipykernel_2168\655079728.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['month'] = pd.to_datetime(data['effective to date'], format='%m').dt.month_name().str.slice(stop=3)

In [392]:
data

,unnamed: 0,customer,state,customer lifetime value,response,coverage,education,effective to date,employmentstatus,gender,...,number of open complaints,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size,month
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,0.000000,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,Feb
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,0.000000,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,Jan
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,0.000000,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,Feb
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,0.000000,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,Jan
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,0.383567,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,Jan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10904,10904,QI63521,Nevada,19228.463620,No,Basic,High School or Below,2011-02-24,Unemployed,M,...,0.000000,2,Personal Auto,Personal L2,Offer1,Branch,897.600000,Luxury SUV,Medsize,Feb
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,2011-01-19,Unemployed,F,...,0.383567,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,Jan
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,...,0.000000,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,Jan
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Employed,F,...,0.000000,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,Feb
10908,10908,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,...,4.000000,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,Feb

In [372]:
data.columns

Index(['unnamed: 0', 'customer', 'state', 'customer lifetime value',
       'response', 'coverage', 'education', 'effective to date',
       'employmentstatus', 'gender', 'income', 'location code',
       'marital status', 'monthly premium auto', 'months since last claim',
       'months since policy inception', 'number of open complaints',
       'number of policies', 'policy type', 'policy', 'renew offer type',
       'sales channel', 'total claim amount', 'vehicle class', 'vehicle size',
       'month'],
      dtype='object')

In [395]:
#  Then filter the data to show only the information for the first quarter 
#  ie. January, February and March. Hint: If data from March does not exist, consider only January and February.
data[(data['month']=="Feb") | (data['month']=='Jan')]

,unnamed: 0,customer,state,customer lifetime value,response,coverage,education,effective to date,employmentstatus,gender,...,number of open complaints,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size,month
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,0.000000,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,Feb
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,0.000000,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,Jan
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,0.000000,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,Feb
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,0.000000,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,Jan
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,0.383567,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,Jan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10904,10904,QI63521,Nevada,19228.463620,No,Basic,High School or Below,2011-02-24,Unemployed,M,...,0.000000,2,Personal Auto,Personal L2,Offer1,Branch,897.600000,Luxury SUV,Medsize,Feb
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,2011-01-19,Unemployed,F,...,0.383567,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,Jan
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,...,0.000000,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,Jan
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Employed,F,...,0.000000,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,Feb
10908,10908,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,...,4.000000,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,Feb

In [396]:
#Solo para terminar, me gustaria poner la columan month a lado de effective to date 
data=data.reindex(columns=['unnamed: 0', 'customer', 'state', 'customer lifetime value',
       'response', 'coverage', 'education', 'effective to date',
       'month', 'employmentstatus', 'gender', 'income', 'location code',
       'marital status', 'monthly premium auto', 'months since last claim',
       'months since policy inception', 'number of open complaints',
       'number of policies', 'policy type', 'policy', 'renew offer type',
       'sales channel', 'total claim amount', 'vehicle class', 'vehicle size'])
data

,unnamed: 0,customer,state,customer lifetime value,response,coverage,education,effective to date,month,employmentstatus,...,months since policy inception,number of open complaints,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Feb,Employed,...,52,0.000000,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Jan,Unemployed,...,26,0.000000,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Feb,Employed,...,31,0.000000,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Jan,Employed,...,3,0.000000,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Jan,Medical Leave,...,31,0.383567,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10904,10904,QI63521,Nevada,19228.463620,No,Basic,High School or Below,2011-02-24,Feb,Unemployed,...,32,0.000000,2,Personal Auto,Personal L2,Offer1,Branch,897.600000,Luxury SUV,Medsize
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,2011-01-19,Jan,Unemployed,...,40,0.383567,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Jan,Employed,...,68,0.000000,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Feb,Employed,...,63,0.000000,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize
10908,10908,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Feb,Employed,...,27,4.000000,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize

In [ ]:
#Bonus BONUS: Put all the previously mentioned data transformations into a function.
#LO PENSARE EL FIN DE SEMANA, NECESITO PRACTICAR LA DEFINICION DE FUNCIONES YA QUE AUN ME CAUSAN ALGUNOS CONFLICTOS